<!Doctype html>
<html>

<head>
    {%load static%}
    {% load gTTS %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Intérprete</title>
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body>

   <header class="navbar bg-secondary text-uppercase" id="mainNav">
       <div class="container">
           <a class="navbar-brand">Intérprete</a>
       </div>
   </header>

    <div class="container-fluid " style="margin-top:20px;">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                           <a>Console</a>
                        </div>
                        <div class="card ">
                            <form  action="buscar" method="post">
                                {% csrf_token %}
                               <textarea name="code" type="text" class="area form-control " rows="16" placeholder= "Enter text"></textarea>
                                <input type="submit" class=" form-control btn bg-secondary text-light" value="Run"></input>
                            </form>
                            {{request.post}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                         <div class="card-header">
                            Salida
                        </div>
                         <div class="card">

                         <textarea name="Text1" class=" form-control area"  rows="18"></textarea>

                    </div>
                </div>
            </div>

    </div>
    </div>
</body>

</html>